#Region System
FEEDSTRINGS;
SKIPCHECK;
#EndRegion

#Promo days in Period
['promo_calc':'Promo days in Period']=N:ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)-(MAX(MIN(['promo_calc':'Start Gap (Promo Start - Period Start)'],ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('mon
th', !month, 'startdate')+21916)+1)),0))-(MAX(MIN(['promo_calc':'End Gap (Period End - Promo End)'],ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)),0));

#End gap
['promo_calc':'End Gap (Period End - Promo End)']=N:ATTRN('month', !month, 'enddate')+21916-(DB('Promotions',
    !region, !promotions, 'End Date'));


#Start gap
['promo_calc':'Start Gap (Promo Start - Period Start)']=N:DB('Promotions',
    !region, !promotions, 'Start Date')-(ATTRN('month', !month, 'startdate')+21916);

FEEDERS;