#Region System
FEEDSTRINGS;
SKIPCHECK;
#EndRegion


['Variance %'] = C:(['Actual'] - ['Budget'])\['Budget'];

# This rule currently won't compile owing to defect RTC 28200
# https://bajazz03.canlab.ibm.com:9700/ccm/resource/itemName/com.ibm.team.workitem.WorkItem/28200
# Once the defect is fixed, the 5 separate rules below it can be replaced by this one.
#
#[{'account1':'Promo1', 'account1':'Promo2', 'account1':'Promo3', 'account1':'Promo4', 'account1':'Promo5'},'actvsbud':{'Budget'}]=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	#((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    #!region, !account1, 'Sales Uplift')),
    #0);

['account1':'Promo1','actvsbud':'Budget']=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    !region, !account1, 'Sales Uplift')),
    0);

['account1':'Promo2','actvsbud':'Budget']=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    !region, !account1, 'Sales Uplift')),
    0);

['account1':'Promo3','actvsbud':'Budget']=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    !region, !account1, 'Sales Uplift')),
    0);

['account1':'Promo4','actvsbud':'Budget']=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    !region, !account1, 'Sales Uplift')),
    0);

['account1':'Promo5','actvsbud':'Budget']=N: IF(ELISANC('model', DB('Promotions', !region, !account1, 'Product Group'),!model) = 1,
	((['account1':'Sales']*DB('PromotionsCalc',!region, !account1, !month,'Promo days in Period'))\(ROUND(ATTRN('month', !month, 'enddate')+21916-(ATTRN('month', !month, 'startdate')+21916)+1)))*(DB('Promotions',
    !region, !account1, 'Sales Uplift')),
    0);


['Gross Margin%']=['Gross Margin']\['Sales']*100;
['Price']=N:DB('PriceCube',!actvsbud,!region,!model,!month);
C:['Sales']/['Units'];
['Sales']=N:['Price']*['Units'];

FEEDERS;
['Units']=>['Price'];
['Units']=>['Sales'];
['Units']=>['Gross Margin%'];
#Region Automatically generated feeders
#Autogenerated AUTOFEEDERS
['actvsbud':'Actual'] => DB('SalesCube_metrics', !model, !region, !month, !account1, 'Actual');
#EndRegion